{% extends "layout.html" %}

{% block content %}

<p>This service:</p>
<ul>
    <li>Translates a catalogue reference into 'fragments' representing the letter code, series and reference</li>
    <li>Returns information about the research guides related to a reference, series and letter code</li>
    <li>Returns content of these research guides, as extracted using natural language processing</li>
</ul>
<p>The service endpoints are fully documented in the <a
        href="https://github.com/nationalarchives/research-guide-service-alpha">GitHub repository</a></p>
<a class="tna-button" href="https://github.com/nationalarchives/research-guide-service-alpha" role="button">Visit the repository on GitHub</a>

{% endblock %}